Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
_UpgradeReport_Files/UpgradeReport.css
Backup/PatternRecommender.sln
Backup/PatternRecommender/Constants.cs
Backup/PatternRecommender/Modules/BaseModule.cs
Backup/PatternRecommender/packages.config
Backup/PatternRecommender/PatternRecommender.csproj
Backup/PatternRecommender/Properties/AssemblyInfo.cs
Backup/PatternRecommender/Requests/AuthenticationRequest.cs
Backup/PatternRecommender/Utilities.cs
Backup/PatternRecommender/Web.config
Backup/PatternRecommender/Web.Debug.config
Backup/PatternRecommender/Web.Release.config
_UpgradeReport_Files/UpgradeReport.xslt
_UpgradeReport_Files/UpgradeReport_Error.png
_UpgradeReport_Files/UpgradeReport_Information.png
_UpgradeReport_Files/UpgradeReport_Success.png
_UpgradeReport_Files/UpgradeReport_Warning.png
PatternRecommender_.psess
PatternRecommender_120911.vsp
UpgradeLog.htm
UpgradeLog.XML
